<section class="section process">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="process-block pl-4">
					<span class="text-uppercase text-sm letter-spacing">Why choose us</span>
					<h2 class="mb-4 mt-3">We help you to make work easy</h2>
					<p class="mb-4">We understand what your business means to you,your requirements considering trends.Smet nemo excepturi voluptas eligendi .</p>
				</div>
			</div>

			<div class="col-lg-7 col-xs-12 col-md-12">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mb-4 mb-lg-0">
							<i class="ti-light-bulb"></i>
							<h5>Data analysis</h5>
							<p>A complete web app solution for business</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mt-4 mb-4 mb-lg-0">
							<i class="ti-panel"></i>
							<h5>Web Development</h5>
							<p>A complete web app solution for business</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center">
							<i class="ti-search"></i>
							<h5>Content Mangement</h5>
							<p>A complete web app solution for business</p>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mt-4">
							<i class="ti-rocket"></i>
							<h5>Mobility</h5>
							<p>A complete web app solution for business</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>