<div class="row">
	<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/blog-1.jpg" alt="" class="img-fluid rounded">
			</div>

			<div class="blog-item-content">
				<h3 class="mt-3 mb-3"><a href="blog-single.html">Improve design with typography?</a></h3>

				<div class="blog-item-meta mb-3">
					<span class="text-muted text-capitalize mr-3"><i class="ti-comment mr-2"></i>5 Comments</span>
					<span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i> 28th January</span>
				</div> 

				
				<p class="mb-4">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium pariatur repudiandae!</p>

				<a href="blog-single.html" class="btn btn-small btn-main ">Learn More</a>
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/blog-2.jpg" alt="" class="img-fluid rounded">
			</div>

			<div class="blog-item-content">
				<h3 class="mt-3 mb-3"><a href="blog-single.html">In the news: this week’s top news stories </a></h3>

				<div class="blog-item-meta mb-3">
					<span class="text-muted text-capitalize mr-3"><i class="ti-comment mr-2"></i>5 Comments</span>
					<span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i> 28th January</span>
				</div> 

				
				<p class="mb-4">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium pariatur repudiandae!</p>

				<a href="blog-single.html" class="btn btn-small btn-main ">Learn More</a>
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/blog-3.jpg" alt="" class="img-fluid rounded">
			</div>

			<div class="blog-item-content">
				<h3 class="mt-3 mb-3"><a href="blog-single.html">How to Organize Your Office for Maximum Productivity? </a></h3>

				<div class="blog-item-meta mb-3">
					<span class="text-muted text-capitalize mr-3"><i class="ti-comment mr-2"></i>5 Comments</span>
					<span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i> 28th January</span>
				</div> 

				
				<p class="mb-4">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium pariatur repudiandae!</p>

				<a href="blog-single.html" class="btn btn-small btn-main ">Learn More</a>
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/blog-4.jpg" alt="" class="img-fluid rounded">
			</div>

			<div class="blog-item-content">
				<h3 class="mt-3 mb-3"><a href="blog-single.html">15 Money Tips To Make You Rich In the end of 2018 </a></h3>

				<div class="blog-item-meta mb-3">
					<span class="text-muted text-capitalize mr-3"><i class="ti-comment mr-2"></i>5 Comments</span>
					<span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i> 28th January</span>
				</div> 

				
				<p class="mb-4">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium pariatur repudiandae!</p>

				<a href="blog-single.html" class="btn btn-small btn-main ">Learn More</a>
			</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 mb-5">
		<div class="blog-item">
			<div class="blog-thumb">
				<img src="images/blog/blog-5.jpg" alt="" class="img-fluid rounded">
			</div>

			<div class="blog-item-content">
				<h3 class="mt-3 mb-3"><a href="blog-single.html">The Right Thinking Biggest Job Picking The </a></h3>

				<div class="blog-item-meta mb-3">
					<span class="text-muted text-capitalize mr-3"><i class="ti-comment mr-2"></i>5 Comments</span>
					<span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i> 28th January</span>
				</div> 

				
				<p class="mb-4">Non illo quas blanditiis repellendus laboriosam minima animi. Consectetur accusantium pariatur repudiandae!</p>

				<a href="blog-single.html" class="btn btn-small btn-main ">Learn More</a>
			</div>
		</div>
	</div>
</div>