<section class="section cta">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="cta-content bg-white p-5 rounded">
					<h3 class="mb-4">Assurance Service In Software<span class="text-color-primary"> Testing</span> </h3>
					<p class="mb-30">An Independent Validation and Testing services from SISAR. Helps to reduce software development efforts</p>
					
					<a href="project.html" class="btn btn-main">Portfolio<i class="fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>