<section class="section ">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="heading text-center">
					<h2>We help entreprenuers <br>starts up and turn <span class="text-color">their ideas into</span> produtcs</h2>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="counter-item counter--style text-center mb-5 mb-lg-0">
							<i class="ti-thumb-up"></i>
							<h2 class="mb-0 mt-3"><span class="counter-stat font-weight-bold">1730</span> +</h2>
							<p>Project Done</p>
						</div>	
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="counter-item counter--style text-center mb-5 mb-lg-0">
							<i class="ti-face-smile"></i>
							<h2 class="mb-0 mt-3"><span class="counter-stat font-weight-bold">125 </span>M </h2>
							<p>User Worldwide</p>
						</div>	
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="counter-item counter--style text-center">
							<i class="ti-cup"></i>
							<h2 class="mb-0 mt-3"><span class="counter-stat font-weight-bold">14</span></h2>
							<p>Award Winner </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>