<div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
	<div class="sidebar-widget search  mb-3 ">
		<h5>Search Here</h5>
		<form action="#" class="search-form">
			<input type="text" class="form-control" placeholder="search">
			<i class="ti-search"></i>
		</form>
	</div>


	<div class="sidebar-widget latest-post mb-3">
		<h5>Latest Posts</h5>

        <div class="media py-3">
            <a href="#"><img class="mr-4" src="images/blog/bt-3.jpg" alt=""></a>
            <div class="media-body">
            	<span class="text-sm text-muted">03 Mar 2018</span>
                <h6 class="my-2"><a href="#">Thoughtful living in los Angeles</a></h6>
            </div>
        </div>

        <div class="media py-3">
            <a href="#"><img class="mr-4" src="images/blog/bt-2.jpg" alt=""></a>
           <div class="media-body">
           		<span class="text-sm text-muted">03 Mar 2018</span>
                <h6 class="my-2"><a href="#">Vivamus molestie gravida turpis.</a></h6>
            </div>
        </div>

        <div class="media py-3">
            <a href="#"><img class="mr-4" src="images/blog/bt-1.jpg" alt=""></a>
            <div class="media-body">
            	<span class="text-sm text-muted">03 Mar 2018</span>
                <h6 class="my-2"><a href="#">Fusce lobortis lorem at ipsum semper sagittis</a></h6>
            </div>
        </div>
	</div>

	<div class="sidebar-widget category mb-3">
		<h5 class="mb-4">Categories</h5>

		<ul class="list-unstyled">
		  <li class="align-items-center">
		    <a href="#">Innovation</a>
		    <span>(14)</span>
		  </li>
		  <li class="align-items-center">
		    <a href="#">Software</a>
		    <span>(2)</span>
		  </li>
		  <li class="align-items-center">
		    <a href="#">Social</a>
		    <span>(10)</span>
		  </li>
		  <li class="align-items-center">
		    <a href="#">Trends</a>
		    <span>(5)</span>
		  </li>
		</ul>
	</div>


	<div class="sidebar-widget tags mb-3">
		<h5 class="mb-4">Tags</h5>

		<a href="#">Web</a>
		<a href="#">agency</a>
		<a href="#">company</a>
		<a href="#">creative</a>
		<a href="#">html</a>
		<a href="#">Marketing</a>
		<a href="#">Social Media</a>
		<a href="#">Branding</a>
	</div>

	<div class="sidebar-widget mb-3">
		<a href="#"><img src="images/blog/adv.jpg" alt="" class="img-fluid"></a>
	</div>

</div>