<section class="section service-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="service-img mb-5 mb-lg-0">
					<img src="images/service/service-1.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="service-info ">
					<span class="text-color font-weight-bold">01</span>
					<h3 class="text-md mb-4 mt-2">
						Custom Software development
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptatum, nobis quos dolores reiciendis unde. Est obcaecati aspernatur pariatur aliquid quos repellendus, amet architecto similique, cumque nisi earum, culpa, ipsa!</p>
				</div>
			</div>
		</div>

		<div class="content-padding position-relative">
			<div class="row">
				<div class="col-lg-6">
					<div class="service-info mb-5 mb-lg-0">
						<span class="text-color font-weight-bold">02</span>
						<h3 class="text-md mb-4 mt-2">
							Software Maintenance
						</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptatum, nobis quos dolores reiciendis unde. Est obcaecati aspernatur pariatur aliquid quos repellendus, amet architecto similique, cumque nisi earum, culpa, ipsa!</p>

					</div>
				</div>
				<div class="col-lg-6">
					<div class="service-img">
						<img src="images/service/service-3.jpg" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="service-img mb-5 mb-lg-0">
					<img src="images/service/service-4.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="service-info">
					<span class="text-color font-weight-bold">03</span>
					<h3 class="text-md mb-4 mt-2">
						Web App Development
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptatum, nobis quos dolores reiciendis unde. Est obcaecati aspernatur pariatur aliquid quos repellendus, amet architecto similique, cumque nisi earum, culpa, ipsa!</p>
				</div>
			</div>
		</div>
	</div>
</section>