<section class="section team">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="heading text-center mb-50">
					<h2 class="mb-4">Our Team</h2>
					<p>Today’s users expect effortless experiences. Don’t let essential people and processes stay stuck in the past. Speed it up, skip the hassles</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="team-block mb-5 mb-lg-0">
					<img src="images/team/03-1.jpg" alt="" class="img-fluid w-100">

					<h4 class="mt-4 mb-0">John Marshal</h4>
					<p>Founder</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="team-block mb-5 mb-lg-0">
					<img src="images/team/01-3.jpg" alt="" class="img-fluid w-100">

					<h4 class="mt-4 mb-0">Marshal Root</h4>
					<p>Marketing Head</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="team-block mb-5 mb-lg-0">
					<img src="images/team/03-1.jpg" alt="" class="img-fluid w-100">

					<h4 class="mt-4 mb-0">Siamon john</h4>
					<p>Co-ordinator</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="team-block">
					<img src="images/team/01-3.jpg" alt="" class="img-fluid w-100">

					<h4 class="mt-4 mb-0">Rishat Ahmed</h4>
					<p>Senior Developer</p>
				</div>
			</div>
		</div>
	</div>
</section>