<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="heading">
					<h2 class="mb-4">What they say about us</h2>
					<p>They are truely amazing in the industry ,molestiae expedita aspernatur officia, similique minima laudantium. Corrupti ipsa perspiciatis commodi nesciunt rerum mollitia enim voluptate!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 testimonial-wrap">
				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial1.jpg" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>

				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial2.jpg" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial1.jpg" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial2.jpg" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial1.jpg" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>